# Core Dependencies
kivy==2.3.1
Kivy-Garden==0.1.5
numpy==1.24.4
opencv-python==4.11.0.86
pillow==10.4.0
torch==2.4.1
torchvision==0.19.1

# OCR & Text Detection
easyocr==1.7.2
pytesseract==0.3.13
python-bidi==0.6.6
pyclipper==1.3.0.post6

# Image Processing Tools
scikit-image==0.21.0
shapely==2.0.7
scipy==1.10.1
imageio==2.35.1
PyWavelets==1.4.1
tifffile==2023.7.10

# Logging/CLI/Utils
requests==2.32.3
colorama==0.4.6
Jinja2==3.1.6
MarkupSafe==2.1.5
packaging==25.0

# Build Tools (only for Android APK)
buildozer==1.5.0
Cython==0.29.36
ninja==1.11.1.4
sh==1.14.3
pexpect==4.9.0
ptyprocess==0.7.0
